<div class="form">
  <div class="top_form">
    <h1 class="titulo_form">Quero vender no Pigz</h1>
    <p class="sub_form">Dê o primeiro passo para aumentar suas vendas</p>

    <div class="form_input">
      <span class="nome">Nome</span>
      <input class="input" placeholder="nome"/>

      <span class="nome">E-mail</span>
      <input class="input" placeholder="E-mail"/>

      <span class="nome">Telefone</span>
      <input class="input" placeholder="(95)XXXXX-XXXX"/>
    </div>

    <p class="sub_form">Ao continuar, aceito que a Pigz entre em contato comigo por telefone, e-mail ou WhatsApp.</p>

    <button class="next_btn">Continuar</button>

  </div>


</div>
